.login-container {
   // background-color: #1f1e24;
   background-image: url("https://static.vecteezy.com/system/resources/previews/003/083/657/non_2x/dark-abstract-background-black-circles-vector.jpg");
   background-repeat: no-repeat;
   background-size: cover;        /* Cover the screen */
   background-position: center;
   background-color: #0f0f0f; 
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .login-form {

    padding: 30px;
    border-radius: 12px;

    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input {
    width: 25em;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: #222;
    color: #fff;
  }
  
  input::placeholder {
    color: #888;
  }
  
  button {
    background: linear-gradient(135deg, #6366f1, #4f46e5);
    border: none;
    width: 10em;
    padding: 14px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  // button:hover {
  //   background: linear-gradient(135deg, #818cf8, #6366f1);
  // }
  
  button:disabled {
    background: #555;
    cursor: not-allowed;
  }
  
  .switch-form {
    margin-top: 20px;
    text-align: center;
  }
  
  .switch-button {
    margin-top: 10px;
    background: none;
    color: #aaa;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: underline;
  }
  
  .switch-button:hover {
    color: #fff;
  }
  
  .loading-spinner {
    margin-top: 20px;
  }
  