<div class="container">
<div style="width: 100%; background-color: #1f2937; height: 60px; margin-bottom: 60px; display: flex; justify-content: space-between; align-items: center;">
  <div>
    <span style="font-size: 2.5em; color: white; font-weight: bold;">Face fusion</span>
  </div>
  <div>
    <span style="color: white; margin-right: 2em;">{{credit}} credits</span>
    <span style="color: white; cursor: pointer; margin-right: 2em;">Log out</span>
  </div>
</div>
    <div class="upload-area">
      <div class="upload-block">
        <label class="upload-label">
          <span>Select Source Image</span>
          <input type="file" accept="image/*" (change)="onSourceImageSelected($event)" hidden />
        </label>
        <div *ngIf="sourceImagePreview" class="preview">
          <img [src]="sourceImagePreview" alt="Source Image Preview" />
        </div>
      </div>
  
      <div class="upload-block">
        <label class="upload-label">
          <span>Select Target Video</span>
          <input type="file" accept="video/*" (change)="onTargetVideoSelected($event)" hidden />
        </label>
        <div *ngIf="targetVideoPreview" class="preview">
          <video controls [src]="targetVideoPreview"></video>
        </div>
      </div>
    </div>
  
    <div class="button-section">
      <button (click)="submit()" [disabled]="loading">
        {{ loading ? 'Processing...' : 'Swap Face' }}
      </button>
    </div>
  
    <div *ngIf="loading" class="progress-section">
      <h2>HELLO</h2>
      <div *ngIf="uploadProgress < 100" class="progress-text" style="color: white;">Uploading... {{ uploadProgress }}%</div>
      <mat-progress-spinner mode="indeterminate" diameter="60" color="primary">
      </mat-progress-spinner>
    </div>
  
    <div *ngIf="outputVideoUrl" class="result-section">
      <h2 class="subtitle">Result</h2>
      <video class="output-video" controls [src]="outputVideoUrl"></video>
    </div>
  </div>